<footer class="footer-ajouter">
  <div class="div-ajouter-boutton">
    <button
      nz-button
      nzType="outline"
      nzShape="round"
      (click)="showModal()"
      class="button-ajouter"
    >
      <i
        nz-icon
        nzType="plus-circle"
        nzTheme="outline"
        style="font-size: large"
      ></i
      >Ajouter
    </button>
  </div>
  <nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()"
  >
    <ng-template #modalTitle>
      Custom Modal Title
    </ng-template>

    <ng-template #modalContent>
      Choissisez voter image

      <nz-upload
        [(nzFileList)]="fileList"
        nzListType="picture"
        nzName="coucou"
        [nzBeforeUpload]="beforeUpload"
      >
        <button nz-button>
          <i nz-icon nzType="upload"></i><span>Upload</span>
        </button>
        <div *ngIf="imagePreview !== '' && imagePreview">
          <img [src]="imagePreview" />
        </div>
      </nz-upload>

      <div>
        <nz-divider></nz-divider>
        Titre :
        <input nz-input placeholder="Ici le titre" [(ngModel)]="valueTitre" />
        <br />
        Description :
        <textarea
          nz-input
          placeholder="ici une description"
          [(ngModel)]="valueDescription"
          [nzAutosize]="{ minRows: 2, maxRows: 6 }"
        ></textarea>
      </div>
    </ng-template>
    <ng-template #modalFooter>
      <button
        nz-button
        nzType="danger"
        (click)="handleCancel()"
        class="modal-anunuler-button"
      >
        Annuler
      </button>
      <button
        nz-button
        nzType="default"
        (click)="handleOk('success')"
        [nzLoading]="isConfirmLoading"
        class="modal-poster-button"
      >
        Poster
      </button>
    </ng-template>
  </nz-modal>
</footer>
