<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
  <ul class="navbar-nav" style="text-align: center;">
    <li class="nav-item">
      <a class="nav-link" routerLink="/"></a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/login"
        *ngIf="!authService.isAuthenticated()"
        >Login</a
      >
    </li>
    <li class="nav-item">
      <!-- *ngIf="!auth.isLoggedIn()" -->
      <a
        class="nav-link"
        routerLink="/register"
        *ngIf="!authService.isAuthenticated()"
        >Register</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/user-profile"
        *ngIf="authService.isAuthenticated()"
        >Profile
        <!--auth.getUserDetails()?.first_name-->
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/home"
        *ngIf="authService.isAuthenticated()"
        >Home</a
      >
      <!--*ngIf="!auth.isAuthenticated()"-->
    </li>

    <!-- <li class="nav-item">
       <a
         class="nav-link"
         routerLink="/message"
         *ngIf="authService.isAuthenticated()"
       >Messages</a
       >
     </li>-->

    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/"
        *ngIf="authService.isAuthenticated()"
        (click)="authService.logout()"
        >Logout</a
      >
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
