<head>
  <title>Geolocation</title>
  <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
</head>
<body>
  <div [hidden]="!is_checked" id="map" class="map"></div>
  <div id="info" style="display: none;"></div>
  <label id="track" nz-checkbox [(ngModel)]="is_checked"
    >Pin current location</label
  >
  <!--
  <p>
    position accuracy : <code id="accuracy"></code>&nbsp;&nbsp; altitude :
    <code id="altitude"></code>&nbsp;&nbsp; altitude accuracy :
    <code id="altitudeAccuracy"></code>&nbsp;&nbsp; heading :
    <code id="heading"></code>&nbsp;&nbsp; speed : <code id="speed"></code>
  </p>
  -->
  <script src="index.js"></script>
</body>
