.layout-principale {
  height: 92vh;
}

.Conteneur-Principale {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}


