nz-avatar {
  margin-top: 16px;
  margin-right: 16px;
  height: 200px;
  width: 200px;
}

div {
  text-align: center;
  margin: 0 auto;
}

span {
  padding: 16px;
}

td {
  text-align: center;
  padding: 16px;
}

button {
  width: 160px;
}

mat-grid-tile {
  background: lightgrey;
  transition: transform .2s;
}


mat-grid-tile:hover {
  transform: scale(1.25);
  z-index: 1;
  border-radius: 5px;
}

[nz-icon] {
  margin-right: 6px;
  font-size: 24px;
  padding-top: 16px;
}

#photos-div {
  padding-top: 80px;
  width: 1200px;
}

.center {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
}

#Conteneur-principal {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#Contenu-modificateur {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Rouage {
  padding: 0;
}

#conteneur-boutton {
  display: flex;
  justify-content: space-between;
}

