<div id="Conteneur-principal">
  <table>
    <tr>
      <td rowspan="3">
        <nz-avatar
          nzIcon="user"
          [nzSrc]=userModel.userPhoto
        ></nz-avatar>
        <div id="Ajoutimage">
          <button nz-button nzType="default" (click)="isVisibleDeux=true">Ajouter une image</button>
        </div>
      </td>
      <td>
        <div id="MontrePseudo">
          <h2>{{userModel.pseudo }}</h2>
          <h5 style="margin-top: 10px">{{userModel.NbPublication}} publication(s)</h5>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div id="Contenu-modificateur">
          <button nz-button nzType="dashed" style="margin-right: 20px">
            Modifier le profil
          </button>
          <i
            nz-icon
            [nzSpin]="true"
            [nzType]="'setting'"
            [nzTheme]="'outline'"
            id="Rouage"
          ></i>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <p nz-paragraph nzCopyable nzEditable [(nzContent)]="copyStr"></p>
      </td>
    </tr>
  </table>
  <div id="photos-div">
    <mat-grid-list cols="3" rowHeight="1.8:1">
      <mat-grid-tile *ngFor="let Image of TableauImage">
        <img [src]="Image.post_chemin" (click)="checkIcon(Image)"/>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<nz-modal *ngIf="isVisibleDeux === false"
          [(nzVisible)]="isVisible"
          [nzTitle]="modalTitle"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="Close()"
>
  <ng-template #modalTitle>
    {{ valueTitre }}
  </ng-template>

  <ng-template #modalContent>
    <div>
      <img
        [src]="imagePreview"
        style="height: 50%;width: 100%;border-radius: 5px"
      />
    </div>

    <div>
      <nz-divider></nz-divider>
      Titre :
      <input nz-input placeholder="Ici le titre" [(ngModel)]="valueTitre"/>
      <br/>
      Description :
      <textarea
        nz-input
        [(ngModel)]="valueDescription"
        [nzAutosize]="{ minRows: 2, maxRows: 6 }"
      ></textarea>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <div id="conteneur-boutton">
      <button
        nz-button
        nzType="danger"
        (click)="Supprimer()"
        class="modal-anunuler-button"
      >
        Supprimer
      </button>
      <button
        nz-button
        style="background-color: #58ae27;color: white"
        (click)="Modifier()"
        class="modal-poster-button"
      >
        modifier
      </button>
    </div>
  </ng-template>
</nz-modal>
<!-- deuxieme modal  -->

<nz-modal *ngIf="isVisible === false"
          [(nzVisible)]="isVisibleDeux"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="Fermer()"
>
  <ng-template #modalContent>
    Choissisez voter image

    <nz-upload [(nzFileList)]="fileList" nzListType="picture" nzName="coucou" [nzBeforeUpload]="beforeUpload">
      <button nz-button>
        <i nz-icon nzType="upload"></i><span>Ajouter une image</span>
      </button>
      <div *ngIf="imagePreviewDeux !== '' && imagePreviewDeux">
        <img id="imageprev" [src]="imagePreviewDeux"/>
      </div>
    </nz-upload>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="danger" (click)="Fermer()" class="modal-anunuler-button">Annuler</button>
    <button nz-button nzType="default" (click)="Ajouter()"
            class="modal-poster-button">Ajouter
    </button>
  </ng-template>
</nz-modal>

